.footer {
  background: rgb(240 242 245);
  border-top: 1px solid #ccc;
  padding: 2rem 0;
  margin-top: 50px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  display: flex;
  align-items: center;
  gap: 4px;
}

.listItemLink {
  display: flex;
  align-items: center;
  gap: 4px;
  color: inherit;
  text-decoration: none;
}

.logo {
  margin-left: -45px;
}
