.header {
  width: 100%;
  background-color: rgb(240 242 245);
  border-bottom: 1px solid #ccc;
}

@mixin blueBar {
  background: var(--ef-primary-color);
  min-height: 30px;
}

.topBar {
  @include blueBar;
  display: none;
}

.middleBar {
  display: none;
}

.logo {
  margin-left: -45px;
}

.hotline {
  color: var(--ef-primary-color);
}

.searchGroup {
  flex: 1;
}

.navbar {
  padding: 0 !important;
}

.navLink {
  text-transform: capitalize;
}

.textSmall {
  font-size: 0.875rem;
}

@media screen and (min-width: 1200px) {
  .topBar {
    display: block;
  }

  .middleBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6vw;
    padding: 20px 0;
  }

  .bottomBar {
    @include blueBar;
  }

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navLink {
    color: #fff;
  }
}
