.header {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: rgb(240 242 245);
  border-bottom: 1px solid #ccc;
  z-index: 1;
}

.navbar {
  padding: 0 !important;
  background-color: rgb(240 242 245);
}
