:root {
  --tw-gradient-from: #ef4444;
  --tw-gradient-to: #f59e0b;
}

.from-red-to-amber {
  background-image: linear-gradient(
    to right,
    var(--tw-gradient-from),
    var(--tw-gradient-to)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent !important;
}

p {
  margin-bottom: 0 !important;
}
