.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.section {
  padding-top: 4.5rem;
}

.cardImage {
  height: 380px;
  position: relative;
}

.heading {
  line-height: 1.5;
}
